<div class="box">
  <h class="title">予約内容確認</h>

  <%= form_with model:@reservation do |f| %>
    <table class="table is-hoverable">
    <tr>
      <h4 class="subtitle">¥<%= @room.price %>/日</h4>
    </tr>

    <tr>
      <th>チェックイン:</th>
      <td><%= l @reservation.start_date, format: :short %></td>
    </tr>  

    <tr>
      <th>チェックアウト:</th>
      <td><%= l @reservation.end_date, format: :short %></td>
    </tr>

    <tr>
      <th>人数:</th>
      <td><%= @reservation.number %>人</td>
    </tr>

    </table>

    <p>上記内容でよろしければ、「予約確定」を押してください</p>

      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :room_id, value:@room.id %>
      <%= f.hidden_field :number, value:@reservation.number %>
      <%= f.hidden_field :start_date %>
      <%= f.hidden_field :end_date %>


    <tr>
      <td>
      <button class="button is-info" type="submit">予約を確定</button><br>
      </td>
    </tr>

    <tr>
      <td>
      <button class="button"><%= link_to"キャンセル",room_path(@room) %></button>
      <td>
    </tr>

  <% end %>
 </div>
 