<div class="box">
  <h2 class="title">登録済み一覧</h2>
  <table class="table">
    <thead>
      <tr>
        <th>画像</th>
        <th>施設名</th>
        <th>紹介文</th>
        <th>料金</th>
        <th>作成日</th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td>
          <%= link_to room do %>
            <%= image_tag room.room_img.url if room.room_img? %>
            <%= image_tag("https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png") unless room.room_img? %>
            <% end %>
            </td>
          <td><%= link_to room.name, room %></td>
          <td><%= room.description %></td>
          <td>¥<%= room.price %></td>
          <td><%= l room.created_at, format: :short %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
